<% if notice %>
  <div class="pp-flash pp-flash--notice" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="pp-flash pp-flash--alert" role="alert">
    <%= alert %>
  </div>
<% end %>
