<form action="<%= apply_name_plant_path(@plant) %>" method="patch" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div>
    <label for="nickname">Give it a nickname</label>
    <input type="text" id="nickname" name="nickname" placeholder="e.g., Choubidou" autocomplete="off">
  </div>

  <button type="submit">Name my pokeplant</button>
</form>
