<% content_for :body_class, "infos-body" %>
<% content_for :hide_navbar, "true" %>

<div class="infos-page">

  <% infos_bg = case @plant.common_name.downcase
               when /golden pothos/ then "golden pothos.svg"
               when /monstera/      then "Info page plant.svg"
               else "Info page plant.svg"
               end %>
  <%= image_tag infos_bg, class: "infos-bg", alt: "" %>

  <div class="infos-top">
    <%= link_to plants_path, class: "infos-back" do %>
      <%= image_tag "arrow.svg", alt: "back" %>
    <% end %>

    <h1 class="infos-title"><%= @plant.common_name %></h1>
  </div>

</div>
